@font-face {
  font-family: 'ghanachoco';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ghanachoco.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture,
svg,
video,
canvas {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition: none;
  }
}

body,
html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  block-size: 100dvh;
  background: #ddd;
}

.point-color {
  color: rgb(206, 38, 38);
}

.point-color-1 {
  color: rgb(233, 178, 29)
}

.point-color-2 {
  color: rgb(151, 95, 48)
}

.emoji {
  letter-spacing: -.5em;
}

.obj {
  position: absolute;
  inset-inline-end: 5%;
  inset-block-end: 10%;
  font-size: 2rem;
  color: #deebde;
  rotate: -8deg;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-inline-size: 480px;
  block-size: inherit;
  padding-inline-end: 35px;
  padding-block: 5rem;
}

.sketchbook {
  position: relative;
  max-inline-size: 798px;
  margin: auto;
  padding: 0 8px 0 40px;
  aspect-ratio: 1/0.6917293233082707;
  background: url(./assets/sketchbook.png) 0 0 / cover no-repeat;

  &:before {
    position: absolute;
    inset-block-start: 40%;
    inset-inline-start: 100%;
    width: 94px;
    height: 150px;
    margin-inline-start: -59px;
    background: url(./assets/hand.png) 0 0 / cover no-repeat;
    z-index: 10;
    content: '';
  }
}

.swiper {
  width: 100%;
}

.swiper-wrapper {
  .swiper-slide {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-family: 'ghanachoco', serif;
    font-size: clamp(2rem, 7vw, 4rem);
    color: #313131;
    aspect-ratio: 1/0.736;

    .point-color-1,
    .point-color-2 {
      font-size: clamp(4rem, 11vw, 8rem);
    }

    .txt-s {
      font-size: clamp(1.5rem, 5vw, 2.8rem);
    }

    .gap-1 {
      margin-block-start: 1rem;
    }
  }
}

.swiper-slide {
  .tiger {
    position: relative;

    .emoji-tiger {
      display: flex;
      align-items: center;
      position: absolute;
      inset-block-start: 100%;
      min-inline-size: 60px;
      height: 60px;
      background: #fdfdfd url(./assets/santa.png) 10px 50% / 40px auto no-repeat;
      box-shadow: 0 0 8px 0px #d3c6aa;
      border-radius: 12px;
      z-index: 1;
      cursor: pointer;

      span {
        min-inline-size: 60px;
        margin-block-start: 2px;
        padding-inline-start: 60px;
        font-size: 2.5rem;
        line-height: 1;
        color: #ababab;
      }
    }
  }

  &.postcard {
    background: url(./assets/postcard.png) 50% / cover no-repeat;
  }

  [class*=ani-] {
    opacity: 0;
    translate: 0 -20px;
  }

  &.swiper-slide-active {
    [class*=ani-] {
      opacity: 1;
      translate: 0 0;
      transition: opacity .6s cubic-bezier(0.26, 0.52, 0.44, 0.98), translate .6s cubic-bezier(0.26, 0.52, 0.44, 0.98);
    }

    .ani-1 {
      transition-delay: .3s
    }

    .ani-2 {
      transition-delay: .6s
    }

    .ani-3 {
      transition-delay: .9s
    }

  }
}

img[src*=kkang] {
  max-inline-size: 125px;
}